In [6]:
from splinter import Browser
import csv
import pandas as pd
import numpy as np

In [8]:
from selenium.webdriver.chrome.service import Service

service = Service(executable_path='binaries/chromedriver.exe')
browser = Browser('chrome', service=service)

## The following is to confirm that I can obtain the table

In [3]:
browser.visit(f"https://www.pro-football-reference.com/draft/2024-combine.htm")

In [22]:
table = browser.find_by_css(".table_container")[0]

In [24]:
pd.read_html(table.html)[0]

C:\Users\Asus\AppData\Local\Temp\ipykernel_19520\2179288430.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_html(table.html)[0]

,Player,Pos,School,College,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Drafted (tm/rnd/yr)
0,Kris Abrams-Draine,CB,Missouri,College Stats,5-11,179,4.44,33.5,NaN,NaN,NaN,NaN,Denver Broncos / 5th / 145th pick / 2024
1,Isaiah Adams,G,Illinois,College Stats,6-4,315,5.22,24.5,NaN,102,7.77,4.73,Arizona Cardinals / 3rd / 71st pick / 2024
2,Rasheen Ali,RB,Marshall,College Stats,5-11,206,NaN,NaN,NaN,NaN,NaN,NaN,Baltimore Ravens / 5th / 165th pick / 2024
3,Erick All,TE,Iowa,College Stats,6-4,252,NaN,NaN,NaN,NaN,NaN,NaN,Cincinnati Bengals / 4th / 115th pick / 2024
4,Braelon Allen,RB,Wisconsin,College Stats,6-1,235,NaN,32.0,26,117,NaN,NaN,New York Jets / 4th / 134th pick / 2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...
322,Roman Wilson,WR,Michigan,College Stats,5-11,185,4.39,NaN,12,NaN,NaN,NaN,Pittsburgh Steelers / 3rd / 84th pick / 2024
323,Mekhi Wingo,DT,LSU,College Stats,6-0,284,4.85,31.5,25,109,NaN,NaN,Detroit Lions / 6th / 189th pick / 2024
324,Xavier Worthy,WR,Texas,College Stats,5-11,165,4.21,41.0,NaN,131,NaN,NaN,Kansas City Chiefs / 1st / 28th pick / 2024
325,Jaylen Wright,RB,Tennessee,College Stats,5-11,210,4.38,38.0,NaN,134,NaN,NaN,Miami Dolphins / 4th / 120th pick / 2024
326,Zak Zinter,G,Michigan,College Stats,6-6,309,NaN,NaN,NaN,NaN,NaN,NaN,Cleveland Browns / 3rd / 85th pick / 2024

## Since this is confirmed, now I can get tables from 2000-2024

In [26]:
combinetable = ""

for x in range (2000,2025):
    browser.visit(f"https://www.pro-football-reference.com/draft/{x}-combine.htm")
    table = browser.find_by_css(".table_container")[0]
    parsedtable = pd.read_html(table.html)[0]
    parsedtable["Year"] = x

    if x == 2000:
        combinetable = parsedtable
    else:
        combinetable = pd.concat([combinetable,parsedtable], ignore_index=True)

combinetable

C:\Users\Asus\AppData\Local\Temp\ipykernel_19520\2917800472.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  parsedtable = pd.read_html(table.html)[0]
C:\Users\Asus\AppData\Local\Temp\ipykernel_19520\2917800472.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  parsedtable = pd.read_html(table.html)[0]
C:\Users\Asus\AppData\Local\Temp\ipykernel_19520\2917800472.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  parsedtable = pd.read_html(table.html)[0]
C:\Users\Asus\AppData\Local\Temp\ipykernel_19520\2917800472.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  parsedtable = pd.read_html(table.html)[0]
C:\Users\Asus\AppData\Local\Temp\ipykernel_19520\2917800472.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  parsedtable = pd.read_html(table.html)[0]
C:\Users\Asus\AppData\Local\Temp\ipykernel_19520\2917800472.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  parsedtable = pd.read_html(table.html)[0]
C:\Users\Asus\AppData\Local\Temp\ipykernel_19520\2917800472.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  parsedtable = pd.read_html(table.html)[0]
C:\Users\Asus\AppData\Local\Temp\ipykernel_19520\2917800472.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  parsedtable = pd.read_html(table.html)[0]
C:\Users\Asus\AppData\Local\Temp\ipykernel_19520\2917800472.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  parsedtable = pd.read_html(table.html)[0]
C:\Users\Asus\AppData\Local\Temp\ipykernel_19520\2917800472.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  parsedtable = pd.read_html(table.html)[0]
C:\Users\Asus\AppData\Local\Temp\ipykernel_19520\2917800472.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  parsedtable = pd.read_html(table.html)[0]
C:\Users\Asus\AppData\Local\Temp\ipykernel_19520\2917800472.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  parsedtable = pd.read_html(table.html)[0]
C:\Users\Asus\AppData\Local\Temp\ipykernel_19520\2917800472.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  parsedtable = pd.read_html(table.html)[0]
C:\Users\Asus\AppData\Local\Temp\ipykernel_19520\2917800472.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  parsedtable = pd.read_html(table.html)[0]
C:\Users\Asus\AppData\Local\Temp\ipykernel_19520\2917800472.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  parsedtable = pd.read_html(table.html)[0]
C:\Users\Asus\AppData\Local\Temp\ipykernel_19520\2917800472.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  parsedtable = pd.read_html(table.html)[0]
C:\Users\Asus\AppData\Local\Temp\ipykernel_19520\2917800472.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  parsedtable = pd.read_html(table.html)[0]
C:\Users\Asus\AppData\Local\Temp\ipykernel_19520\2917800472.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  parsedtable = pd.read_html(table.html)[0]
C:\Users\Asus\AppData\Local\Temp\ipykernel_19520\2917800472.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  parsedtable = pd.read_html(table.html)[0]
C:\Users\Asus\AppData\Local\Temp\ipykernel_19520\2917800472.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  parsedtable = pd.read_html(table.html)[0]
C:\Users\Asus\AppData\Local\Temp\ipykernel_19520\2917800472.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  parsedtable = pd.read_html(table.html)[0]
C:\Users\Asus\AppData\Local\Temp\ipykernel_19520\2917800472.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  parsedtable = pd.read_html(table.html)[0]
C:\Users\Asus\AppData\Local\Temp\ipykernel_19520\2917800472.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  parsedtable = pd.read_html(table.html)[0]
C:\Users\Asus\AppData\Local\Temp\ipykernel_19520\2917800472.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  parsedtable = pd.read_html(table.html)[0]
C:\Users\Asus\AppData\Local\Temp\ipykernel_19520\2917800472.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  parsedtable = pd.read_html(table.html)[0]

,Player,Pos,School,College,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Drafted (tm/rnd/yr),Year
0,John Abraham,OLB,South Carolina,NaN,6-4,252,4.55,NaN,NaN,NaN,NaN,NaN,New York Jets / 1st / 13th pick / 2000,2000
1,Shaun Alexander,RB,Alabama,College Stats,6-0,218,4.58,NaN,NaN,NaN,NaN,NaN,Seattle Seahawks / 1st / 19th pick / 2000,2000
2,Darnell Alford,OT,Boston Col.,NaN,6-4,334,5.56,25.0,23,94,8.48,4.98,Kansas City Chiefs / 6th / 188th pick / 2000,2000
3,Kyle Allamon,TE,Texas Tech,NaN,6-2,253,4.97,29.0,NaN,104,7.29,4.49,NaN,2000
4,Rashard Anderson,CB,Jackson State,NaN,6-2,206,4.55,34.0,NaN,123,7.18,4.15,Carolina Panthers / 1st / 23rd pick / 2000,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8468,Roman Wilson,WR,Michigan,College Stats,5-11,185,4.39,NaN,12,NaN,NaN,NaN,Pittsburgh Steelers / 3rd / 84th pick / 2024,2024
8469,Mekhi Wingo,DT,LSU,College Stats,6-0,284,4.85,31.5,25,109,NaN,NaN,Detroit Lions / 6th / 189th pick / 2024,2024
8470,Xavier Worthy,WR,Texas,College Stats,5-11,165,4.21,41.0,NaN,131,NaN,NaN,Kansas City Chiefs / 1st / 28th pick / 2024,2024
8471,Jaylen Wright,RB,Tennessee,College Stats,5-11,210,4.38,38.0,NaN,134,NaN,NaN,Miami Dolphins / 4th / 120th pick / 2024,2024
8472,Zak Zinter,G,Michigan,College Stats,6-6,309,NaN,NaN,NaN,NaN,NaN,NaN,Cleveland Browns / 3rd / 85th pick / 2024,2024

## Data Wrangling

In [29]:
combinetable = combinetable.drop(["College"], axis='columns')

In [30]:
combinetable # with College column removed

,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Drafted (tm/rnd/yr),Year
0,John Abraham,OLB,South Carolina,6-4,252,4.55,NaN,NaN,NaN,NaN,NaN,New York Jets / 1st / 13th pick / 2000,2000
1,Shaun Alexander,RB,Alabama,6-0,218,4.58,NaN,NaN,NaN,NaN,NaN,Seattle Seahawks / 1st / 19th pick / 2000,2000
2,Darnell Alford,OT,Boston Col.,6-4,334,5.56,25.0,23,94,8.48,4.98,Kansas City Chiefs / 6th / 188th pick / 2000,2000
3,Kyle Allamon,TE,Texas Tech,6-2,253,4.97,29.0,NaN,104,7.29,4.49,NaN,2000
4,Rashard Anderson,CB,Jackson State,6-2,206,4.55,34.0,NaN,123,7.18,4.15,Carolina Panthers / 1st / 23rd pick / 2000,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8468,Roman Wilson,WR,Michigan,5-11,185,4.39,NaN,12,NaN,NaN,NaN,Pittsburgh Steelers / 3rd / 84th pick / 2024,2024
8469,Mekhi Wingo,DT,LSU,6-0,284,4.85,31.5,25,109,NaN,NaN,Detroit Lions / 6th / 189th pick / 2024,2024
8470,Xavier Worthy,WR,Texas,5-11,165,4.21,41.0,NaN,131,NaN,NaN,Kansas City Chiefs / 1st / 28th pick / 2024,2024
8471,Jaylen Wright,RB,Tennessee,5-11,210,4.38,38.0,NaN,134,NaN,NaN,Miami Dolphins / 4th / 120th pick / 2024,2024
8472,Zak Zinter,G,Michigan,6-6,309,NaN,NaN,NaN,NaN,NaN,NaN,Cleveland Browns / 3rd / 85th pick / 2024,2024

In [48]:
#only rows where a prospect completed in at least one combine event
deleteallnarows = combinetable[(combinetable["Bench"].isna()) & \
(combinetable["40yd"].isna()) & \
(combinetable["Vertical"].isna()) & \
(combinetable["Broad Jump"].isna()) & \
(combinetable["3Cone"].isna()) & \
(combinetable["Shuttle"].isna())].index

deleteallnarows

Index([   5,    8,   10,   15,  138,  155,  178,  186,  228,  302,
       ...
       8425, 8427, 8433, 8434, 8436, 8455, 8456, 8461, 8465, 8472],
      dtype='int64', length=351)

In [49]:
combinetable.drop(deleteallnarows , inplace=True)

In [50]:
combinetable # only rows that have at least one event

,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Drafted (tm/rnd/yr),Year
0,John Abraham,OLB,South Carolina,6-4,252,4.55,NaN,NaN,NaN,NaN,NaN,New York Jets / 1st / 13th pick / 2000,2000
1,Shaun Alexander,RB,Alabama,6-0,218,4.58,NaN,NaN,NaN,NaN,NaN,Seattle Seahawks / 1st / 19th pick / 2000,2000
2,Darnell Alford,OT,Boston Col.,6-4,334,5.56,25.0,23,94,8.48,4.98,Kansas City Chiefs / 6th / 188th pick / 2000,2000
3,Kyle Allamon,TE,Texas Tech,6-2,253,4.97,29.0,NaN,104,7.29,4.49,NaN,2000
4,Rashard Anderson,CB,Jackson State,6-2,206,4.55,34.0,NaN,123,7.18,4.15,Carolina Panthers / 1st / 23rd pick / 2000,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8467,Payton Wilson,LB,North Carolina St.,6-4,233,4.43,34.5,NaN,119,NaN,NaN,Pittsburgh Steelers / 3rd / 98th pick / 2024,2024
8468,Roman Wilson,WR,Michigan,5-11,185,4.39,NaN,12,NaN,NaN,NaN,Pittsburgh Steelers / 3rd / 84th pick / 2024,2024
8469,Mekhi Wingo,DT,LSU,6-0,284,4.85,31.5,25,109,NaN,NaN,Detroit Lions / 6th / 189th pick / 2024,2024
8470,Xavier Worthy,WR,Texas,5-11,165,4.21,41.0,NaN,131,NaN,NaN,Kansas City Chiefs / 1st / 28th pick / 2024,2024
8471,Jaylen Wright,RB,Tennessee,5-11,210,4.38,38.0,NaN,134,NaN,NaN,Miami Dolphins / 4th / 120th pick / 2024,2024

In [53]:
drafted_df = combinetable.copy()

In [54]:
drafted_df

,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Drafted (tm/rnd/yr),Year
0,John Abraham,OLB,South Carolina,6-4,252,4.55,NaN,NaN,NaN,NaN,NaN,New York Jets / 1st / 13th pick / 2000,2000
1,Shaun Alexander,RB,Alabama,6-0,218,4.58,NaN,NaN,NaN,NaN,NaN,Seattle Seahawks / 1st / 19th pick / 2000,2000
2,Darnell Alford,OT,Boston Col.,6-4,334,5.56,25.0,23,94,8.48,4.98,Kansas City Chiefs / 6th / 188th pick / 2000,2000
3,Kyle Allamon,TE,Texas Tech,6-2,253,4.97,29.0,NaN,104,7.29,4.49,NaN,2000
4,Rashard Anderson,CB,Jackson State,6-2,206,4.55,34.0,NaN,123,7.18,4.15,Carolina Panthers / 1st / 23rd pick / 2000,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8467,Payton Wilson,LB,North Carolina St.,6-4,233,4.43,34.5,NaN,119,NaN,NaN,Pittsburgh Steelers / 3rd / 98th pick / 2024,2024
8468,Roman Wilson,WR,Michigan,5-11,185,4.39,NaN,12,NaN,NaN,NaN,Pittsburgh Steelers / 3rd / 84th pick / 2024,2024
8469,Mekhi Wingo,DT,LSU,6-0,284,4.85,31.5,25,109,NaN,NaN,Detroit Lions / 6th / 189th pick / 2024,2024
8470,Xavier Worthy,WR,Texas,5-11,165,4.21,41.0,NaN,131,NaN,NaN,Kansas City Chiefs / 1st / 28th pick / 2024,2024
8471,Jaylen Wright,RB,Tennessee,5-11,210,4.38,38.0,NaN,134,NaN,NaN,Miami Dolphins / 4th / 120th pick / 2024,2024

In [56]:
drafted_df = drafted_df.rename(columns={'Drafted (tm/rnd/yr)': 'isDrafted'})
drafted_df

,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,isDrafted,Year
0,John Abraham,OLB,South Carolina,6-4,252,4.55,NaN,NaN,NaN,NaN,NaN,New York Jets / 1st / 13th pick / 2000,2000
1,Shaun Alexander,RB,Alabama,6-0,218,4.58,NaN,NaN,NaN,NaN,NaN,Seattle Seahawks / 1st / 19th pick / 2000,2000
2,Darnell Alford,OT,Boston Col.,6-4,334,5.56,25.0,23,94,8.48,4.98,Kansas City Chiefs / 6th / 188th pick / 2000,2000
3,Kyle Allamon,TE,Texas Tech,6-2,253,4.97,29.0,NaN,104,7.29,4.49,NaN,2000
4,Rashard Anderson,CB,Jackson State,6-2,206,4.55,34.0,NaN,123,7.18,4.15,Carolina Panthers / 1st / 23rd pick / 2000,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8467,Payton Wilson,LB,North Carolina St.,6-4,233,4.43,34.5,NaN,119,NaN,NaN,Pittsburgh Steelers / 3rd / 98th pick / 2024,2024
8468,Roman Wilson,WR,Michigan,5-11,185,4.39,NaN,12,NaN,NaN,NaN,Pittsburgh Steelers / 3rd / 84th pick / 2024,2024
8469,Mekhi Wingo,DT,LSU,6-0,284,4.85,31.5,25,109,NaN,NaN,Detroit Lions / 6th / 189th pick / 2024,2024
8470,Xavier Worthy,WR,Texas,5-11,165,4.21,41.0,NaN,131,NaN,NaN,Kansas City Chiefs / 1st / 28th pick / 2024,2024
8471,Jaylen Wright,RB,Tennessee,5-11,210,4.38,38.0,NaN,134,NaN,NaN,Miami Dolphins / 4th / 120th pick / 2024,2024

In [59]:
# Replace values in 'col1' where 'col1' is less than 3
condition2 = drafted_df['isDrafted'].isna()
drafted_df.loc[condition2, 'isDrafted'] = 0

# Replace values in 'col2' based on a condition in 'col1'
condition3 = drafted_df['isDrafted'] != 0
drafted_df.loc[condition3, 'isDrafted'] = 1

In [60]:
drafted_df

,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,isDrafted,Year
0,John Abraham,OLB,South Carolina,6-4,252,4.55,NaN,NaN,NaN,NaN,NaN,1,2000
1,Shaun Alexander,RB,Alabama,6-0,218,4.58,NaN,NaN,NaN,NaN,NaN,1,2000
2,Darnell Alford,OT,Boston Col.,6-4,334,5.56,25.0,23,94,8.48,4.98,1,2000
3,Kyle Allamon,TE,Texas Tech,6-2,253,4.97,29.0,NaN,104,7.29,4.49,0,2000
4,Rashard Anderson,CB,Jackson State,6-2,206,4.55,34.0,NaN,123,7.18,4.15,1,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8467,Payton Wilson,LB,North Carolina St.,6-4,233,4.43,34.5,NaN,119,NaN,NaN,1,2024
8468,Roman Wilson,WR,Michigan,5-11,185,4.39,NaN,12,NaN,NaN,NaN,1,2024
8469,Mekhi Wingo,DT,LSU,6-0,284,4.85,31.5,25,109,NaN,NaN,1,2024
8470,Xavier Worthy,WR,Texas,5-11,165,4.21,41.0,NaN,131,NaN,NaN,1,2024
8471,Jaylen Wright,RB,Tennessee,5-11,210,4.38,38.0,NaN,134,NaN,NaN,1,2024

In [63]:
#only rows where a prospect completed in at least one combine event
deleteHT = drafted_df[drafted_df["Ht"] == "Ht"].index
deleteHT

drafted_df.drop(deleteHT , inplace=True)

In [64]:
drafted_df

,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,isDrafted,Year
0,John Abraham,OLB,South Carolina,6-4,252,4.55,NaN,NaN,NaN,NaN,NaN,1,2000
1,Shaun Alexander,RB,Alabama,6-0,218,4.58,NaN,NaN,NaN,NaN,NaN,1,2000
2,Darnell Alford,OT,Boston Col.,6-4,334,5.56,25.0,23,94,8.48,4.98,1,2000
3,Kyle Allamon,TE,Texas Tech,6-2,253,4.97,29.0,NaN,104,7.29,4.49,0,2000
4,Rashard Anderson,CB,Jackson State,6-2,206,4.55,34.0,NaN,123,7.18,4.15,1,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8467,Payton Wilson,LB,North Carolina St.,6-4,233,4.43,34.5,NaN,119,NaN,NaN,1,2024
8468,Roman Wilson,WR,Michigan,5-11,185,4.39,NaN,12,NaN,NaN,NaN,1,2024
8469,Mekhi Wingo,DT,LSU,6-0,284,4.85,31.5,25,109,NaN,NaN,1,2024
8470,Xavier Worthy,WR,Texas,5-11,165,4.21,41.0,NaN,131,NaN,NaN,1,2024
8471,Jaylen Wright,RB,Tennessee,5-11,210,4.38,38.0,NaN,134,NaN,NaN,1,2024

In [66]:
drafted_df.describe()

              Year
count  7969.000000
mean   2011.855314
std       7.096953
min    2000.000000
25%    2006.000000
50%    2012.000000
75%    2018.000000
max    2024.000000

In [75]:
drafted_df.to_csv("drafted_2000_2024.csv")

In [77]:
## we looked at Excel file and we will need to drop all of those players with no height.  They are all from 2021.
#only rows where a prospect completed in at least one combine event
deleteHT = drafted_df[drafted_df["Ht"].isna()].index
deleteHT

drafted_df.drop(deleteHT , inplace=True)

In [78]:
drafted_df

,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,isDrafted,Year
0,John Abraham,OLB,South Carolina,6-4,252,4.55,NaN,NaN,NaN,NaN,NaN,1,2000
1,Shaun Alexander,RB,Alabama,6-0,218,4.58,NaN,NaN,NaN,NaN,NaN,1,2000
2,Darnell Alford,OT,Boston Col.,6-4,334,5.56,25.0,23,94,8.48,4.98,1,2000
3,Kyle Allamon,TE,Texas Tech,6-2,253,4.97,29.0,NaN,104,7.29,4.49,0,2000
4,Rashard Anderson,CB,Jackson State,6-2,206,4.55,34.0,NaN,123,7.18,4.15,1,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8467,Payton Wilson,LB,North Carolina St.,6-4,233,4.43,34.5,NaN,119,NaN,NaN,1,2024
8468,Roman Wilson,WR,Michigan,5-11,185,4.39,NaN,12,NaN,NaN,NaN,1,2024
8469,Mekhi Wingo,DT,LSU,6-0,284,4.85,31.5,25,109,NaN,NaN,1,2024
8470,Xavier Worthy,WR,Texas,5-11,165,4.21,41.0,NaN,131,NaN,NaN,1,2024
8471,Jaylen Wright,RB,Tennessee,5-11,210,4.38,38.0,NaN,134,NaN,NaN,1,2024

In [80]:
count = 0

for index,row in drafted_df.iterrows():
    if "-" in row["Ht"]:
        count = count + 1

count
#This is now verified

7949

In [83]:
drafted_df.to_csv("drafted_2000_2024-prospectswithnoheightremoved.csv")

In [84]:
for index,row in drafted_df.iterrows():
    if "-" in row["Ht"]:
        feet = int(row["Ht"].split("-")[0])
        inches = int(row["Ht"].split("-")[1])
        #print(feet * 12 + inches)
        drafted_df.loc[index,"Ht"] = feet * 12 + inches

0

In [85]:
drafted_df

,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,isDrafted,Year
0,John Abraham,OLB,South Carolina,76,252,4.55,NaN,NaN,NaN,NaN,NaN,1,2000
1,Shaun Alexander,RB,Alabama,72,218,4.58,NaN,NaN,NaN,NaN,NaN,1,2000
2,Darnell Alford,OT,Boston Col.,76,334,5.56,25.0,23,94,8.48,4.98,1,2000
3,Kyle Allamon,TE,Texas Tech,74,253,4.97,29.0,NaN,104,7.29,4.49,0,2000
4,Rashard Anderson,CB,Jackson State,74,206,4.55,34.0,NaN,123,7.18,4.15,1,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8467,Payton Wilson,LB,North Carolina St.,76,233,4.43,34.5,NaN,119,NaN,NaN,1,2024
8468,Roman Wilson,WR,Michigan,71,185,4.39,NaN,12,NaN,NaN,NaN,1,2024
8469,Mekhi Wingo,DT,LSU,72,284,4.85,31.5,25,109,NaN,NaN,1,2024
8470,Xavier Worthy,WR,Texas,71,165,4.21,41.0,NaN,131,NaN,NaN,1,2024
8471,Jaylen Wright,RB,Tennessee,71,210,4.38,38.0,NaN,134,NaN,NaN,1,2024

In [86]:
drafted_df.to_csv("drafted_2000_2024-turnedheightintoinches.csv")

In [87]:
drafted_df["Pos"].value_counts()

Pos
WR      1120
CB       812
RB       710
OT       558
S        549
DT       528
DE       526
TE       441
OLB      428
OG       416
QB       413
ILB      274
C        201
LB       177
OL       126
FB       119
EDGE     115
DL       110
P        108
DB        79
K         63
LS        31
SAF       23
G         22
Name: count, dtype: int64

In [111]:
#drafted_df.groupby(["Pos", "isDrafted"])["Ht"].describe()
drafted_df.dtypes

Player         object
Pos            object
School         object
Ht               int8
Wt              int16
40yd          float64
Vertical      float64
Bench         float64
Broad Jump    float64
3Cone         float64
Shuttle       float64
isDrafted        int8
Year            int64
dtype: object

In [112]:
drafted_df

,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,isDrafted,Year
0,John Abraham,OLB,South Carolina,76,252,4.55,NaN,NaN,NaN,NaN,NaN,1,2000
1,Shaun Alexander,RB,Alabama,72,218,4.58,NaN,NaN,NaN,NaN,NaN,1,2000
2,Darnell Alford,OT,Boston Col.,76,334,5.56,25.0,23.0,94.0,8.48,4.98,1,2000
3,Kyle Allamon,TE,Texas Tech,74,253,4.97,29.0,NaN,104.0,7.29,4.49,0,2000
4,Rashard Anderson,CB,Jackson State,74,206,4.55,34.0,NaN,123.0,7.18,4.15,1,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8467,Payton Wilson,LB,North Carolina St.,76,233,4.43,34.5,NaN,119.0,NaN,NaN,1,2024
8468,Roman Wilson,WR,Michigan,71,185,4.39,NaN,12.0,NaN,NaN,NaN,1,2024
8469,Mekhi Wingo,DT,LSU,72,284,4.85,31.5,25.0,109.0,NaN,NaN,1,2024
8470,Xavier Worthy,WR,Texas,71,165,4.21,41.0,NaN,131.0,NaN,NaN,1,2024
8471,Jaylen Wright,RB,Tennessee,71,210,4.38,38.0,NaN,134.0,NaN,NaN,1,2024

In [ ]:
# Using to_numeric() method with downcasting
drafted_df['Wt'] = pd.to_numeric(drafted_df['Wt'], downcast='integer', errors='coerce')

# Using to_numeric() method with downcasting
drafted_df['Ht'] = pd.to_numeric(drafted_df['Ht'], downcast='integer', errors='coerce')

# Using to_numeric() method with downcastingM
drafted_df['isDrafted'] = pd.to_numeric(drafted_df['isDrafted'], downcast='integer', errors='coerce')

# Using to_numeric() method with downcasting
drafted_df['40yd'] = pd.to_numeric(drafted_df['40yd'], errors='coerce')

# Using to_numeric() method with downcasting
drafted_df['Vertical'] = pd.to_numeric(drafted_df['Vertical'], errors='coerce')

# Using to_numeric() method with downcasting
drafted_df['Bench'] = pd.to_numeric(drafted_df['Bench'], errors='coerce')

# Using to_numeric() method with downcasting
drafted_df['Broad Jump'] = pd.to_numeric(drafted_df['Broad Jump'], errors='coerce')

# Using to_numeric() method with downcasting
drafted_df['3Cone'] = pd.to_numeric(drafted_df['3Cone'], errors='coerce')

# Using to_numeric() method with downcasting
drafted_df['Shuttle'] = pd.to_numeric(drafted_df['Shuttle'], errors='coerce')

In [113]:
drafted_df.groupby(["Pos", "isDrafted"])["Ht"].describe()

                count       mean       std   min    25%   50%    75%   max
Pos  isDrafted
C    0           78.0  75.064103  1.060994  72.0  74.00  75.0  76.00  77.0
     1          123.0  75.447154  1.080401  73.0  75.00  75.0  76.00  78.0
CB   0          229.0  71.200873  1.780449  67.0  70.00  71.0  72.00  76.0
     1          583.0  71.349914  1.547983  68.0  70.00  71.0  72.00  76.0
DB   0           39.0  71.282051  1.356247  68.0  70.00  71.0  72.00  74.0
     1           40.0  72.200000  1.636131  69.0  71.00  72.0  73.00  76.0
DE   0          145.0  75.634483  1.418204  72.0  75.00  76.0  76.00  80.0
     1          381.0  75.839895  1.431997  71.0  75.00  76.0  77.00  80.0
DL   0           32.0  74.250000  1.367833  72.0  73.00  74.5  75.00  77.0
     1           78.0  75.461538  1.325987  72.0  75.00  75.0  76.00  79.0
DT   0          145.0  74.820690  1.512306  72.0  74.00  75.0  76.00  78.0
     1          383.0  75.007833  1.429840  71.0  74.00  75.0  76.00  79.0
EDGE 0           40.0  75.300000  1.343551  73.0  74.00  75.0  76.00  79.0
     1           75.0  75.733333  1.308324  72.0  75.00  76.0  77.00  78.0
FB   0           52.0  72.615385  1.430122  70.0  72.00  72.0  74.00  76.0
     1           67.0  72.432836  1.499736  70.0  71.00  72.0  73.00  76.0
G    0           12.0  76.333333  0.651339  75.0  76.00  76.0  77.00  77.0
     1           10.0  76.000000  0.816497  75.0  75.25  76.0  76.75  77.0
ILB  0           94.0  73.191489  1.255325  70.0  72.00  73.0  74.00  76.0
     1          180.0  73.350000  1.300945  69.0  72.00  73.0  74.00  77.0
K    0           42.0  71.857143  2.159171  66.0  71.00  72.0  73.00  76.0
     1           21.0  72.238095  1.670472  69.0  72.00  73.0  73.00  74.0
LB   0           72.0  73.111111  1.632035  68.0  72.00  73.0  74.00  77.0
     1          105.0  73.647619  1.474012  71.0  73.00  74.0  75.00  77.0
LS   0           25.0  74.120000  2.068010  69.0  73.00  74.0  76.00  78.0
     1            6.0  74.500000  1.048809  73.0  74.00  74.5  75.00  76.0
OG   0          168.0  76.083333  1.240131  73.0  75.00  76.0  77.00  79.0
     1          248.0  75.983871  1.145199  73.0  75.00  76.0  77.00  80.0
OL   0           53.0  75.962264  2.261401  66.0  75.00  76.0  77.00  80.0
     1           73.0  76.287671  1.399201  73.0  75.00  76.0  77.00  80.0
OLB  0          111.0  73.522523  1.530578  69.0  72.00  74.0  74.50  78.0
     1          317.0  73.902208  1.431968  70.0  73.00  74.0  75.00  78.0
OT   0          151.0  77.635762  1.378325  75.0  77.00  78.0  79.00  82.0
     1          407.0  77.628993  1.194175  75.0  77.00  78.0  78.00  81.0
P    0           75.0  73.666667  2.158161  68.0  72.00  74.0  75.00  78.0
     1           33.0  74.454545  1.821588  71.0  73.00  74.0  76.00  78.0
QB   0          168.0  74.208333  1.640995  70.0  73.00  74.0  75.00  79.0
     1          245.0  75.024490  1.693591  70.0  74.00  75.0  76.00  79.0
RB   0          295.0  70.189831  1.882040  65.0  69.00  70.0  71.00  75.0
     1          415.0  70.580723  1.713153  65.0  69.00  71.0  72.00  76.0
S    0          185.0  71.994595  1.490905  67.0  71.00  72.0  73.00  76.0
     1          364.0  72.329670  1.508871  68.0  71.00  72.0  73.00  77.0
SAF  0            7.0  72.714286  1.380131  71.0  71.50  73.0  74.00  74.0
     1           16.0  72.375000  1.927866  70.0  71.00  72.0  74.00  76.0
TE   0          152.0  76.190789  1.440813  73.0  75.00  76.0  77.00  80.0
     1          289.0  76.349481  1.381553  71.0  75.00  76.0  77.00  80.0
WR   0          440.0  72.938636  2.212690  66.0  71.00  73.0  74.00  78.0
     1          680.0  72.582353  2.270185  65.0  71.00  73.0  74.00  78.0

In [114]:
drafted_df.groupby(["Pos", "isDrafted"])["Wt"].describe()

                count        mean        std    min     25%    50%     75%  \
Pos  isDrafted
C    0           78.0  300.551282   8.702362  263.0  297.00  301.0  305.00
     1          123.0  304.609756   7.183353  280.0  300.00  303.0  309.00
CB   0          229.0  191.646288   9.399130  168.0  185.00  191.0  197.00
     1          583.0  193.241852   8.791680  166.0  188.00  193.0  199.00
DB   0           39.0  193.743590  10.302575  177.0  184.00  195.0  203.50
     1           40.0  199.375000   9.043166  183.0  192.75  199.0  205.00
DE   0          145.0  267.096552  14.095569  215.0  258.00  268.0  275.00
     1          381.0  269.351706  13.170429  235.0  261.00  269.0  278.00
DL   0           32.0  292.718750  23.350395  248.0  279.50  293.5  308.50
     1           78.0  288.307692  23.573212  248.0  266.00  289.5  306.75
DT   0          145.0  303.206897  15.952140  268.0  293.00  303.0  313.00
     1          383.0  308.099217  14.606911  277.0  299.00  306.0  315.00
EDGE 0           40.0  251.400000   7.938223  236.0  247.75  251.0  255.00
     1           75.0  252.786667   9.711088  228.0  247.50  252.0  258.00
FB   0           52.0  245.557692  11.746361  222.0  238.75  246.0  252.50
     1           67.0  243.641791  10.085545  220.0  239.00  245.0  249.50
G    0           12.0  313.583333   9.169696  300.0  305.75  312.5  322.00
     1           10.0  313.100000   5.933895  302.0  310.75  313.5  316.50
ILB  0           94.0  241.297872   7.283550  226.0  235.25  242.0  245.00
     1          180.0  241.683333   7.428975  224.0  237.00  242.0  246.00
K    0           42.0  197.500000  16.932074  164.0  185.25  196.5  211.00
     1           21.0  198.714286  16.072159  167.0  187.00  201.0  210.00
LB   0           72.0  233.055556  13.591514  202.0  228.00  232.5  237.00
     1          105.0  236.066667   8.581360  220.0  230.00  235.0  240.00
LS   0           25.0  243.520000  12.507065  203.0  237.00  242.0  253.00
     1            6.0  237.000000   7.483315  229.0  231.25  236.0  241.50
OG   0          168.0  314.898810  12.733867  282.0  306.75  314.0  323.00
     1          248.0  314.395161  12.484691  290.0  306.00  312.0  320.00
OL   0           53.0  302.905660  26.789970  194.0  301.00  309.0  314.00
     1           73.0  313.904110  12.029090  298.0  306.00  310.0  318.00
OLB  0          111.0  238.360360  10.021606  204.0  232.00  238.0  245.50
     1          317.0  241.075710  10.036355  218.0  234.00  241.0  247.00
OT   0          151.0  313.662252  13.736029  273.0  305.00  313.0  321.00
     1          407.0  315.970516  13.365978  281.0  307.00  313.0  322.50
P    0           75.0  212.186667  16.705472  179.0  201.00  212.0  221.00
     1           33.0  216.848485  13.822810  193.0  208.00  218.0  225.00
QB   0          168.0  220.029762  12.604735  192.0  211.00  219.0  226.00
     1          245.0  223.669388  10.998178  192.0  217.00  224.0  230.00
RB   0          295.0  211.484746  14.217418  168.0  203.50  212.0  221.00
     1          415.0  214.674699  13.638101  174.0  206.00  214.0  223.00
S    0          185.0  205.524324   9.591703  178.0  199.00  206.0  212.00
     1          364.0  207.796703   9.072854  183.0  202.00  208.0  213.00
SAF  0            7.0  204.285714  10.765907  191.0  195.00  207.0  213.00
     1           16.0  204.937500  13.071438  179.0  197.75  204.5  210.25
TE   0          152.0  253.125000  11.812729  230.0  247.00  252.0  258.25
     1          289.0  253.217993   9.061761  225.0  247.00  253.0  259.00
WR   0          440.0  202.013636  14.222117  149.0  192.00  203.0  212.00
     1          680.0  201.080882  15.619865  155.0  190.00  201.0  212.00

                  max
Pos  isDrafted
C    0          318.0
     1          328.0
CB   0          221.0
     1          220.0
DB   0          215.0
     1          226.0
DE   0          302.0
     1          310.0
DL   0          338.0
     1          342.0
DT   0          369.0
     1          366.0
EDGE 0          272.0
     1          285.0
FB   0          281.0
     1          266.0
G    0          326.0
     1          322.0
ILB  0          261.0
     1          273.0
K    0          236.0
     1          227.0
LB   0          305.0
     1          265.0
LS   0          265.0
     1          248.0
OG   0          361.0
     1          364.0
OL   0          336.0
     1          364.0
OLB  0          262.0
     1          270.0
OT   0          359.0
     1          384.0
P    0          263.0
     1          253.0
QB   0          288.0
     1          265.0
RB   0          248.0
     1          267.0
S    0          230.0
     1          239.0
SAF  0          216.0
     1          231.0
TE   0          336.0
     1          278.0
WR   0          243.0
     1          247.0

In [117]:
drafted_df.groupby("School")["isDrafted"].value_counts()

School             isDrafted
Abilene Christian  1            4
Air Force          0            7
Akron              1            5
                   0            4
Ala-Birmingham     1            6
                               ..
Wyoming            0            8
Yale               0            2
                   1            1
Youngstown State   0            3
                   1            2
Name: count, Length: 575, dtype: int64

In [119]:
drafted_df.groupby("School")["isDrafted"].value_counts().to_csv("Schooldraft.csv")

In [122]:
for index,row in drafted_df.iterrows():
    if "St." in row["School"]:
        #print(row["School"])
        drafted_df.loc[index,"School"] = row["School"].replace("St.", "State")

In [123]:
drafted_df

,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,isDrafted,Year
0,John Abraham,OLB,South Carolina,76,252,4.55,NaN,NaN,NaN,NaN,NaN,1,2000
1,Shaun Alexander,RB,Alabama,72,218,4.58,NaN,NaN,NaN,NaN,NaN,1,2000
2,Darnell Alford,OT,Boston Col.,76,334,5.56,25.0,23.0,94.0,8.48,4.98,1,2000
3,Kyle Allamon,TE,Texas Tech,74,253,4.97,29.0,NaN,104.0,7.29,4.49,0,2000
4,Rashard Anderson,CB,Jackson State,74,206,4.55,34.0,NaN,123.0,7.18,4.15,1,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8467,Payton Wilson,LB,North Carolina State,76,233,4.43,34.5,NaN,119.0,NaN,NaN,1,2024
8468,Roman Wilson,WR,Michigan,71,185,4.39,NaN,12.0,NaN,NaN,NaN,1,2024
8469,Mekhi Wingo,DT,LSU,72,284,4.85,31.5,25.0,109.0,NaN,NaN,1,2024
8470,Xavier Worthy,WR,Texas,71,165,4.21,41.0,NaN,131.0,NaN,NaN,1,2024
8471,Jaylen Wright,RB,Tennessee,71,210,4.38,38.0,NaN,134.0,NaN,NaN,1,2024

In [125]:
drafted_df.groupby("School")["isDrafted"].value_counts().to_csv("Schooldraft.csv")

In [127]:
drafted_df.to_csv("drafted20002024-changedstatetowrittenout.csv")

In [128]:
for index,row in drafted_df.iterrows():
    if "SAF" in row["Pos"]:
        drafted_df.loc[index,"Pos"] = "S"

In [129]:
drafted_df

,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,isDrafted,Year
0,John Abraham,OLB,South Carolina,76,252,4.55,NaN,NaN,NaN,NaN,NaN,1,2000
1,Shaun Alexander,RB,Alabama,72,218,4.58,NaN,NaN,NaN,NaN,NaN,1,2000
2,Darnell Alford,OT,Boston Col.,76,334,5.56,25.0,23.0,94.0,8.48,4.98,1,2000
3,Kyle Allamon,TE,Texas Tech,74,253,4.97,29.0,NaN,104.0,7.29,4.49,0,2000
4,Rashard Anderson,CB,Jackson State,74,206,4.55,34.0,NaN,123.0,7.18,4.15,1,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8467,Payton Wilson,LB,North Carolina State,76,233,4.43,34.5,NaN,119.0,NaN,NaN,1,2024
8468,Roman Wilson,WR,Michigan,71,185,4.39,NaN,12.0,NaN,NaN,NaN,1,2024
8469,Mekhi Wingo,DT,LSU,72,284,4.85,31.5,25.0,109.0,NaN,NaN,1,2024
8470,Xavier Worthy,WR,Texas,71,165,4.21,41.0,NaN,131.0,NaN,NaN,1,2024
8471,Jaylen Wright,RB,Tennessee,71,210,4.38,38.0,NaN,134.0,NaN,NaN,1,2024

In [130]:
drafted_df["Pos"].value_counts()

Pos
WR      1120
CB       812
RB       710
S        572
OT       558
DT       528
DE       526
TE       441
OLB      428
OG       416
QB       413
ILB      274
C        201
LB       177
OL       126
FB       119
EDGE     115
DL       110
P        108
DB        79
K         63
LS        31
G         22
Name: count, dtype: int64

In [132]:
drafted_df.to_csv("drafted_2000_to_2024_final_to_prepare_for_first_model.csv")