In [10]:
import pandas as pd
from xgboost import XGBClassifier, plot_importance
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

df = pd.read_csv("cleaned_NFL_combine_2000_to_2024.csv")
df = df[(df["position"] != "NT") & (df["position"] != "K") & (df["position"] != "LS")]
df = df.drop(["year", "name", "college", "position"], axis=1)
df["drafted"] = df["drafted"].replace({"Y": 1, "N": 0})
df = df.apply(pd.to_numeric, errors='coerce')

In [11]:
df

,height_in,weight_lbs,40yards,benchpress,vert_leap_in,broad_jump_in,shuttle,3cone,drafted
0,76.00,334.0,5.58,23.0,25.0,94.0,4.98,NaN,1
1,74.50,253.0,5.01,NaN,29.0,104.0,4.49,NaN,0
2,74.40,206.0,4.59,NaN,34.0,123.0,4.15,NaN,1
3,72.40,237.0,4.76,21.0,31.0,112.0,4.39,NaN,0
4,69.40,175.0,4.46,17.0,35.0,119.0,4.14,NaN,1
...,...,...,...,...,...,...,...,...,...
6972,75.88,233.0,4.43,NaN,34.5,119.0,NaN,NaN,1
6973,70.75,185.0,4.39,12.0,NaN,NaN,NaN,NaN,1
6974,72.25,284.0,4.85,25.0,31.5,109.0,NaN,NaN,1
6975,71.25,165.0,4.21,NaN,41.0,131.0,NaN,NaN,1
6976,70.50,210.0,4.38,NaN,38.0,134.0,NaN,NaN,1

In [12]:
# Optional: handle missing values
# df = df.dropna()  # OR use imputation instead

Y = df["drafted"]
#df = df.apply(pd.to_numeric, errors='coerce')
X = df.drop(["drafted"], axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.30, random_state=777)

model = XGBClassifier()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 68.67%

In [13]:
# make predictions for test data
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]

In [14]:
# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 68.67%

In [15]:
# fit model on training data
model = XGBClassifier(max_depth=3)
model.fit(X_train, y_train)

# make predictions for test data
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]

# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 68.67%